extends ./lesson.jade

block scripts
  script.
    $(document).ready(function(){
      $('pre').has('code.blocks').addClass('blocks');
      scratchblocks.renderMatching('code.blocks', {
        languages: ['nb']
      });
      scratchblocks.renderMatching('code.b', {
        languages: ['nb'],
        inline: true
      });
    });
