extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  .courses
    each collection, name in collections
      -index = '/' + name + '/index.html'
      -link = _.find(collection, {link: index}).external
      -if (!link) link = relative(index)
      -logo = relative('/' + name + '/logo-black.png')
      a(href=link)
        img(src=logo)
        -realName = _.find(collection, {link: index}).title
        span= realName
