extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  //- create links to lessons
  each collection in Object.keys(collections)
    li
      -link = relative('/' + collection + '/index.html')
      a(href=link)= collection
