extends ./layout.jade


block content
  //- insert contents from index.md
  .col-xs-12
    .content!= contents

  .courses
    each collection in Object.keys(collections)
      -link = relative('/' + collection + '/index.html')
      -logo = relative('/' + collection + '/logo-black.png')
      a(href=link)
        img(src=logo)
        span= collection
