html
  head
    meta(charset="utf-8")
    title #{title} | kodeklubben
    link(href=relative("/assets/style.min.css") rel="stylesheet")
  body
    .container
      .row
        .top-menu.col-xs-12
          a.btn.btn-default(href=relative("/index.html"))
            span.glyphicon.glyphicon-home(aria-hidden="true")
            |  Hjem
        block content
        #footer.col-xs-12
          if author
            - author = marked(author)
            .author
              strong Forfatter:
              != author
          .license
            if license
              - license = marked(license)
              strong Lisens:
              != license
            else
              strong Lisens:
              a(rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.no").
                CC-BY 4.0 Internasjonal

    script(src=relative("/assets/script.min.js"))
    block scripts
