html
  head
    meta(charset="utf-8")
    title #{title} | kodeklubben
    link(href='/assets/css/main.css', rel='stylesheet')
    link(href='/assets/css/lesson.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-11.col-md-offset-1
            block content
    #footer
        p creative commons
