html
  head
    meta(charset="utf-8")
    title #{title} | kodeklubben
    link(href='/assets/css/main.css', rel='stylesheet')
    link(href='/assets/css/lesson.css', rel='stylesheet')
  body
    block content
    #footer
      p creative commons
