extends ./layout.jade

block content
  .col-xs-12
    header.clearfix
      -if (!logo) logo = relative("/assets/img/ccno_logo.png")
      img.logo.hidden-xs(src=logo)
      h1.title= title

  .col-xs-12
    .content!= contents
