extends ./lesson.jade

block scripts
  script.
    $(document).ready(function(){
      scratchblocks2.load_language(scratchblocks2._translations['nb']);
      scratchblocks2.parse("pre.blocks");
    });
