extends ./layout.jade

block content
  header
    if level
      .level
        h1= level
    h1.title= title
    img.logo(src=relative("/assets/img/ccno_logo.png"))

  .content!= contents

block scripts
  script.
    $(document).ready(function(){
      scratchblocks2.load_language(scratchblocks2._translations['nb']);
      scratchblocks2.parse("pre.blocks");
    });
