// header
header {
  background-color: #B1DAAE;
  border-radius: 5px;
  color: #FFFFFF;
  width:100%;
  height:100px;
  padding:10px;
  margin-top:40px;
  vertical-align: middle;

  .level {
    float: left;
    height: 120px;
    width: 120px;
    margin-top: -20px;
    background: #349946;
    border-radius: 4px;
    h1 {
      font-weight: bold;
      text-align: center;
      line-height: 80px;
    }
  }
  h1.title {
    float: left;
    text-indent:20px;
  }
  .logo {
    float: right;
    max-height: 80px;
  }
}


// border around intro image
.intro img {
  border: 5px solid rgb(230,134,45);
  padding: 5px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.intro h1 {
  font-size: 26px;
}

// placement for list items
.check, .activity, .save {
  ul, ol {
    padding:0;
    margin:0;
  }
  li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:-30px;
    // adjust all elements inside a list item
    margin-left:45px;
  }
  // check box for list items
  li:before {
    content: " ";
    border-radius: 8px;
    border: 3px solid #ABDBEA;
    padding: 10px 10px;
    float:left;
    margin-left:-40px;
  }
}

// styles for activities
.activity {
  h1 {
    color: #FFF;
    background: #349946;
    padding: 10px;
    border-radius: 5px;
  }
}

// style for header to check lists
.check {
  h2 {
    background-image: url(/assets/img/check.svg);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-top: 4px;
    padding-bottom: 9px;
    padding-left: 50px;
  }
}

// sections
.try {
  background: #ABDBEA;
  border-radius: 10px;
  padding: 1px 20px 10px 20px;
  code {
    background:#fff;
    color: #007CC9;
  }
}
.protip {
  border: 3px solid #ff7f00;
  background: #fff99d;
  border-radius:12px;
  padding:0 20px 20px 20px;
}
.flag {
  border-top: 3px dotted rgb(230,134,45);
  border-bottom: 3px dotted rgb(230,134,45);
  padding-bottom:20px;
  h2 {
    color: rgb(54,161,55);
    background-image: url(/assets/img/flag.svg);
    background-position: 0px 10px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 60px;
  }
}
.save {
  border-top: 3px solid rgb(36,90,154);
  border-bottom: 3px solid rgb(36,90,154);
  margin: 20px 0;
  h2 {
    color: rgb(36,90,154);
    background-image: url(/assets/img/save.svg);
    background-position: 0px 10px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin:0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
  }
}
.challenge {
  border: 3px solid #00b1da;
  border-radius:12px;
  padding-bottom:10px;
  h2 {
    color:#fff;
    background: #00b1da;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0;
  }
  > * {
    padding:0 20px;
  }
}
