@import "../node_modules/bootstrap/less/bootstrap.less";
@font-size-base: 15px;
@icon-font-path: 'fonts/';

// responsive images
img {
  &:extend(.img-responsive);
}

// top menu
.top-menu {
  margin-top: 20px;
}

// playlists
.playlist {
  color: @link-color;
  cursor: pointer;
}
